{# SNAP Moral Item Template #}
{# Variables: item_id, paraphrase_id, context_id, item_text, context_prefix #}

{% if context_prefix %}
{{ context_prefix }}

{% endif %}
Please respond to the following statement:

"{{ item_text }}"

{# Metadata for logging (will be stripped in production) #}
{# Item: {{ item_id }} | Paraphrase: {{ paraphrase_id }} | Context: {{ context_id }} #}
