{# SNAP Personality Item Template #}
{# Variables: item_id, paraphrase_id, item_text #}

Please respond to the following statement about yourself:

"{{ item_text }}"

{# Metadata for logging (will be stripped in production) #}
{# Item: {{ item_id }} | Paraphrase: {{ paraphrase_id }} #}
